extends pattern/template.pug

block assets
	link(rel='stylesheet', href="css/edTextarea.css")

block content
	section
		h1 Default
		.container
			textarea
	
	section
		h1 Label
		.container.has-label
			.label ラベルです
			textarea
	
	section 
		h1 Counter
		.container
			textarea
			.counter 0 / 200