.container
  position relative
  border 1px solid rgba(75, 101, 96,.3)
  border-radius 6px
  margin 1em 
  box-shadow: rgba(178, 193, 188,.48) 1px 1px 5px 0px, rgba(255,255,255,.8) -6px -2px 15px 0px;
  transition: box-shadow .05s
  &.has-label
    margin-top 1em
    &^[0]:focus-within
      margin-top: 2.5em
  &:focus-within
    box-shadow: rgba(255,255,255,.3) 0px 0px 9px 0px, rgba(255,255,255,.8) -6px -2px 15px 0px;
  
  .label
    position: absolute;
    top: 0;
    padding: .5em
    transition: all .25s ease
    color: rgba(75, 101, 96, .75)
    ^[0]:focus-within ^[1..-1]
      top: -1.5em; 
      font-size: .9em
      padding: 0 
      color: rgb(210,149,155)
  
  .counter 
    position: absolute;
    bottom: -1.75em;
    text-align: right;
    display: block;
    width: 100%;
    font-size: .8em;
    left: -0.25em;
    color: rgba(75, 101, 96, .6)
    ^[0]:focus-within ^[1..-1]
      color: rgb(210,149,155)
  
  textarea 
    resize none
    border-radius 6px
    border 0px solid rgba(0,0,0,.0)
    display block
    padding 1em
    width 100%
    max-width 100%
    min-width 100%
    background transparent
    box-sizing border-box
    box-shadow: inset 1px 0px 7px 0px transparent
    transition: box-shadow .05s
    line-height: 1.5rem;
    letter-spacing: .05em;
    &:focus
      resize auto !important
      outline 1.5px solid rgb(210,149,155)
      box-shadow: inset 1px 0px 7px 0px rgba(210,149,155, .3)
      background: rgba(255, 255, 255, .05)
