neon-primary = rgb(31, 116, 255)
neon-secondary = rgb(121, 49, 177)
neon-danger = rgb(255, 71, 87)
neon-success = rgb(70, 201, 58)
neon-warning = rgb(255,186,0)
neon-dark = rgb(30, 30, 30)
neon-light = rgb(245, 245, 245)

neum-pink = #de4b7a
neum-purple = #d048b4
neum-blue = #4162f0
neum-blue-light = #74aff8
neum-blue-aqua = #5ecae7
neum-black = #1d1c1a
neum-darker = #b83e65
neum-white = #fff
neum-gray-ultra-light = #fafafa
neum-gray-lighter = #f4f4f6
neum-gray-light = #f0f0f3
neum-gray = #eaeaea
neum-gray-dark = #e2e2e2
neum-gray-darker = #dadada
neum-gray-ultra-dark = #c4c4c4
neum-gray-ultra-darker = #adacae

glas-pink = rgb(227, 163, 171)
glas-blue = rgb(202, 226, 230)
glas-green = rgb(204, 223, 181)
glas-purple = rgb(194, 199, 225)
